<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <logger name="com.photoalbum" level="${logging.level.com.photoalbum:-INFO}"/>
    <logger name="org.springframework.web" level="${logging.level.org.springframework.web:-INFO}"/>
    <logger name="org.hibernate.SQL" level="${logging.level.org.hibernate.SQL:-INFO}"/>
    <root level="${logging.level.root:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
